MYSQL_DATABASE=aplicacion
MYSQL_USER=api_user
MYSQL_PASSWORD=cambia_esto
MYSQL_ROOT_PASSWORD=cambia_esto
TZ=Europe/Madrid
COMPOSE_PROFILES=full
JWT_SECRET=cambia_esta_por_una_clave_secreta_larga_de_al_menos_32_bytes
JWT_EXPIRATION_MS=86400000
BACKUP_SERVICE_USER=backup_service
BACKUP_SERVICE_PASSWORD=cambia_esto
