<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base-auth}">

<head>
	<title>Inicia Sesion</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="auth-container">
			<div class="auth-branding">
				<h1>Empresa Empresa</h1>
				<p>Bienvenido de nuevo</p>
				<p>Gracias por formar parte de este equipo</p>
			</div>

			<div class="auth-form">
				<form th:action="@{/login}" th:object="${loginDTO}" method="post">

					<p th:if="${error}" class="error-message" th:text="${error}"></p>
					
					<input type="text" th:field="*{username}" placeholder="Introduce tu nombre">
					<span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

					<input type="password" th:field="*{pass}" placeholder="contraseña">
					<span class="error" th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></span>

					<a th:href="@{/register}">¿No tienes cuenta? Registrate</a>

					<button type="submit">Entrar</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>