<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base-auth}">

<head>
	<title>Registro</title>
</head>

<body>

	<div layout:fragment="content">
		<div class="auth-container">
			<div class="auth-branding">
				<h1>Empresa Empresa</h1>
				<p>¡¡¡Bienvenido!!!</p>
				<p>Gracias por formar parte de este equipo</p>
			</div>
			<div class="auth-form">
				<form class="register-form" th:action="@{/register}" th:object="${usersDTO}" method="post">

					<h2 style="text-align:center; margin-bottom:1rem;">Paso 1 de 2</h2>

					<input type="text" th:field="*{username}" placeholder="Nombre usuario">
					<span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

					<input type="password" th:field="*{pass}" placeholder="contraseña">
					<span class="error" th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></span>

					<input type="text" th:field="*{email}" placeholder="Introduce tu email">
					<span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

					<p th:if="${error}" class="error-message" th:text="${error}"></p>

					<button type="submit">Siguiente</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>