<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base-auth}">

<head>
	<title>Registro</title>
</head>

<body>

	<div layout:fragment="content">
		<div class="auth-container">
			<div class="auth-branding">
				<h1>Empresa Empresa</h1>
				<p>¡¡¡Bienvenido!!!</p>
				<p>Gracias por formar parte de este equipo</p>
			</div>
			<div class="auth-form">
				<form class="register-form" th:action="@{/register}" th:object="${usersDTO}" method="post">

					<input type="text" th:field="*{username}" placeholder="Nombre usuario">
					<span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>


					<!--					<label for="answerOne">¿Cuál es tu color favorito?</label>-->
					<!--					<input type="text" th:field="*{answerOne}" placeholder="">-->
					<!--					<span class="error" th:if="${#fields.hasErrors('answerOne')}" th:errors="*{answerOne}"></span>-->

					<!--					<label for="answerTwo">¿Cuál es el nombre de tu primera mascota?</label>-->
					<!--					<input type="text" th:field="*{answerTwo}" placeholder="">-->
					<!--					<span class="error" th:if="${#fields.hasErrors('answerTwo')}" th:errors="*{answerTwo}"></span>-->

					<!--					<label for="answerThree">¿En qué ciudad vives?</label>-->
					<!--					<input type="text" th:field="*{answerThree}" placeholder="">-->
					<!--					<span class="error" th:if="${#fields.hasErrors('answerThree')}" th:errors="*{answerThree}"></span>-->

				<input type="password" th:field="*{pass}" placeholder="contraseña">
				<span class="error" th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></span>

<!--					<input type="password" th:field="*{confirmPassword}" placeholder="Confirmar contraseña">-->
<!--					<span class="error" th:if="${#fields.hasErrors('confirmPassword')}"-->
<!--						th:errors="*{confirmPassword}"></span>-->


					<input type="text" th:field="*{email}" placeholder="Introduce tu email">
					<span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

					<button type="submit">Registrarse</button>
					<a th:href="@{/login}">¿Ya tienes cuenta? Inicia sesión</a>
				</form>
			</div>
		</div>
	</div>
</body>

</html>