<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - Sistema de Fichajes">Sistema de Fichajes</title>
    <link rel="icon" type="image/png" href="/favicon-32.png">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

    <div layout:fragment="content">
        <!-- aquí se inserta el contenido de cada página (login, register...) -->
    </div>

</body>
</html>