<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <title layout:title-pattern="$CONTENT_TITLE - Sistema de Fichajes">
      Sistema de Fichajes
    </title>
    <link rel="icon" type="image/png" href="/favicon-32.png" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>

  <body class="base-app">
    <header class="app-header">
      <div class="app-header-company">
        <img th:src="@{/img/logo.png}" alt="Logo" class="logo-header" />
        <h1>Nombre Empresa</h1>
      </div>
      <div class="app-header-user">
        <span th:text="${username}"></span>
        <form th:action="@{/logout}" method="post" class="logout-form">
          <button type="submit" class="btn-logout">Cerrar sesión</button>
        </form>
      </div>
    </header>

    <div class="app-layout">
      <aside class="sidebar">
        <nav>
          <h3 class="sidebar-title">Menú</h3>
          <a th:if="${isUser}" th:href="@{/menu/clock-in}">Fichar</a>
          <a th:if="${isUser}" th:href="@{/menu/calendar}">Calendario</a>
          <a th:href="@{/menu/crm}">CRM Tareas</a>
          <a th:href="@{/menu/profile}">Mi perfil</a>
          <a th:if="${isAdmin}" th:href="@{/menu/admin}">Menu Admin</a>
          <a th:if="${isAdmin}" th:href="@{/menu/backups}">Backup</a>
        </nav>
      </aside>

      <div class="app-main">
        <main class="app-content" layout:fragment="content">
          <!-- aquí cada página mete su contenido -->
        </main>

        <footer class="app-footer">
          <p>
            &copy; <span th:text="${#dates.year(#dates.createNow())}"></span> Tu
            Empresa - Sistema de Fichajes
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
